<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<style>
.stater
{
background-color: #66ffe0;
}
body
{
background-color:  #ffffe6;
}


</style>
<body>
<div class="stater">

<center><h1><ul><i>Welcome Admin!!<i></ul></h1></center>
</div>
<br><br><br><br>
<center>
<h3>You can do following operations , Click on the respective button to proceed</h3><br><br><br>
<div class="card" style="width: 18rem;">
  <img src="https://media.wired.com/photos/5926e34f8d4ebc5ab806bd1c/master/pass/GettyImages-528338761.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Password Change</p>
    <a href="passchangeform.html" class="btn btn-primary">Click</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://habrastorage.org/webt/ng/ed/qg/ngedqgf9p0jrlvbe7ul-o7fiuuq.jpeg?v=1" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Manage Products</p>
    <a href="#" class="btn btn-primary">Click</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://cdn1.iconfinder.com/data/icons/prettyoffice8/256/Users.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Users</p>
    <a href="Users.jsp" class="btn btn-primary">Click</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://media.wired.com/photos/5a0a38c1d07f6824ff44221b/master/w_2560%2Cc_limit/twitterlists-TA.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Purchase Repost</p>
    <a href="PurchaseReport.jsp" class="btn btn-primary">Click</a>
  </div>
</div>

</center>
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>
</html>